/* 인증 목록 list */
.shotbox {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
}

.shotbox li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3 - 40px);
  height: 300px;
  margin: 0 20px 20px 0;
  overflow: hidden;
  border-radius: 10px;
}

.shotbox li:nth-child(3n) {
  margin-right: 0;
}

.shotbox li:hover img {
  transform: scale(1.2);
}

.shotbox li img {
  width: 100%;
  transition: all 0.5s;
}
