.list_box {
  display: inline-block;
  width: 301px;
  border: 2px solid #eee;
  border-radius: 10px;
  text-decoration: none;
}

/* 챌린지 list 썸네일 */
.list_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 297px;
  height: 230px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.list_img_box img {
  height: 100%;
  transition: all 0.5s;
}
.list_img_box:hover img {
  transform: scale(1.2);
}

/* 챌린지 list 내용 */
.list_box h3 {
  height: 26px;
  margin: 30px 10px 10px 10px;
  line-height: 26px;
  color: #333;
  font-size: 20px;
}
.list_box p {
  color: #aaa;
  margin: 0 10px 30px 10px;
}
