.chellenge_box {
  width: 290px;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
}
.chellenge_box:last-child {
  margin-right: 0;
}
.chellenge_thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 160px;
  overflow: hidden;
}
.chellenge_thumbnails img {
  width: 100%;
  transition: all 0.5s;
}
.chellenge_box_info {
  padding: 20px;
}
.chellenge_box_info h3 {
  font-size: 25px;
  margin: 0;
}
.chellenge_box_info p {
  margin: 0;
  color: #aaa;
  margin-top: 10px;
}
.chellenge_box:hover .chellenge_thumbnails img {
  transform: scale(1.2);
}
