.create_container {
  position: relative;
}

/* 챌린지 개설 */
.title {
  margin: 0 0 20px 0;
}

/* 소제목 공통 css */
.create_form label {
  display: block;
  color: #aaa;
  margin-bottom: 5px;
}

/* form 전체 css */
.create_box {
  display: flex;
}
.create_box > div {
  width: 600px;
}
.create_box > div > div {
  margin-bottom: 40px;
}
.create_left {
  margin-right: 80px;
}

/* input 공통 css */
.create_css {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 0px;
  border-radius: 5px;
  background: #eee;
  outline: none;
}

/* 카테고리, 모집 방식 css */
.select_box div {
  background: #eee;
  border-radius: 5px;
}
.create_select {
  appearance: none;
  background: url("../assets/images/icons/down.svg") no-repeat right 15px center;
  background-size: 15px;
}

/* 대표 이미지 css */
.create_img .create_css {
  text-align: left;
  cursor: pointer;
}
.create_img_box {
  display: none;
  padding: 20px;
  margin-top: 40px;
  border: 1px solid #00d994;
  border-radius: 5px;
}
.create_box_open {
  display: block;
}
.create_img_box h3 {
  margin: 0 0 10px 0;
}
.create_img_box ul {
  margin: 0;
  padding: 0;
}
.create_img_box ul li {
  position: relative;
  display: inline-block;
  width: calc(100% / 3 - 7px);
  height: 130px;
  margin: 0 10px 5px 0;
  overflow: hidden;
  list-style: none;
  border-radius: 5px;
  cursor: pointer;
}
.create_img_box ul li:nth-child(3n) {
  margin-right: 0;
}
.create_img_box ul .select_img {
  border: 4px solid #00d994;
}
.create_img_box img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.create_img_box ul li:hover img {
  transform: translate(-50%, -50%) scale(1.2);
}
.create_img_box .create_btn {
  width: 100%;
  height: 40px;
  margin: 0;
  border-radius: 5px;
  font-size: 15px;
}

/* 주말제외 css */
.holiday {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.holiday label {
  margin-bottom: 0;
  font-size: 14px;
}

/* 인증기간 css */
.create_date input {
  width: 48%;
}
.create_date div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 비공개 */
.private_box {
  display: none;
  padding: 20px;
  border: 1px solid #00d994;
  border-radius: 5px;
  transition: all 0.5s;
}
.private_box .private_box h3 {
  margin: 0;
}
.private_box p {
  margin: 5px 0 30px 0;
  color: #aaa;
}
.private_box input {
  width: 70%;
  margin-right: 5%;
}
.private_box button {
  width: 25%;
  height: 40px;
  margin: 0;
  border-radius: 5px;
  font-size: 15px;
}
.private_box input::-webkit-outer-spin-button,
.private_box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.private_box_open {
  display: block;
  transition: all 0.5s;
}

/* 인증방식 */
.create_bottom {
  margin-bottom: 40px;
}
.create_bottom input {
  width: 100%;
  height: 40px;
  padding: 15px;
}

/* 챌린지 설명 css */
.create_bottom textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
}

/* 챌린지 개설 버튼 css */
.create_btn {
  width: 280px;
  height: 60px;
  margin-left: 1000px;
  border-radius: 10px;
  border: 0px;
  background-color: #aaa;
  font-size: 20px;
  color: white;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
}
.create_btn:hover {
  background-color: #00d994;
}
