.container {
  display: flex;
  justify-content: space-between;
}



/* 챌린지 배너 */
.banner {
  position: relative;
  width: 950px;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #000;
}

.banner img {
  width: 100%;
  opacity: 0.8;
}

.banner_inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner_inner h2{
  font-size: 30px;
}

/* 탭 메뉴 */
.challenge_tab{
  padding: 0;
}

.challenge_tab li{
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 3px solid #fff;
  margin-right: 50px;
  cursor: pointer;
}
.challenge_tab li.active{
  border-bottom: 3px solid #00d994;
}

/* detail_right */
.detail_right{
  width: 310px;
}

/* 프로필 */
.profile {
  width: 310px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.profile p {
  text-align: left;
  font-size: 20px;
  margin: 0 0 20px 0;
}

/* 버튼 */
.detail_btn {
  width: 310px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
  background-color: #00d994;
  color: white;
  font-weight: 600;
  transition: all 0.5s;
  margin-bottom: 20px;
  cursor: pointer;
}

.detail_btn:hover {
  background-color: #00ba82;
}