.Footer_box{
  width: 100%;
  border-top: 1px solid #eee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Footer_left img{
  width: 15vw;
}
.Footer_left p{
  font-size: 1.3em;
}
.Footer_copy{
  font-size: 1em;
}