.footer_box {
  width: 100%;
  border-top: 1px solid #eee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_left img {
  width: 15vw;
}
.footer_left p {
  font-size: 1.3em;
}
.footer_copy {
  font-size: 1em;
}
