.container {
  display: flex;
  justify-content: space-between;
}

.profile {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.profile p {
  text-align: left;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.profile img {
  width: 100px;
}

.banner {
  width: 950px;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
}

.create_btn {
  width: 310px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
  background-color: #00d994;
  color: white;
  font-weight: 600;
  transition: all 0.5s;
  margin-bottom: 20px;
  cursor: pointer;
}

.create_btn:hover {
  background-color: #00ba82;
}

.main_challenge {
  width: 950px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}
.main_title {
  text-align: center;
  font-size: 35px;
  color: #00d994;
  margin: 0 0 20px 0;
}
.main_title span {
  color: #333;
}
.challenge_list {
  display: flex;
  padding: 0;
  margin: 0;
}

.select_box ul {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  padding: 0;
}

.select_box ul li {
  border-radius: 17px;
  /* background-color: #eee; */
  padding: 5px 20px;
  list-style: none;
  line-height: 24px;
  margin-left: 30px;
  cursor: pointer;
}

.select_category {
  background-color: #00d994;
  color: white;
}
.non_select_category {
  background-color: #eee;
}

.hot_challenge {
  width: 310px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.hot_challenge_list {
  margin: 0;
  padding: 0;
}
