.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
ul.pagination li:first-child {
  background: url("../assets/images/icons/double_left.png") no-repeat center
    center / 40%;
}

ul.pagination li:nth-child(2) {
  background: url("../assets/images/icons/left.svg") no-repeat center center /
    30%;
}
ul.pagination li:last-child {
  background: url("../assets/images/icons/double_right.png") no-repeat center
    center / 40%;
}
ul.pagination li:nth-last-child(2) {
  background: url("../assets/images/icons/right.svg") no-repeat center center /
    30%;
}
ul.pagination li:first-child a,
ul.pagination li:nth-child(2) a,
ul.pagination li:last-child a,
ul.pagination li:nth-last-child(2) a {
  color: transparent;
}

ul.pagination li a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  line-height: 50px;
}

ul.pagination li.active a {
  color: #333;
}

ul.pagination li.active {
  background-color: #eee;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
